@import url('https://unpkg.com/zenn-content-css@latest');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', 'Noto Sans JP', sans-serif;
    color: #1a1a1a;
    background-color: red !important;
  }
}
